//colors
$grey: #333333;

//Navigation colors
$nav-background: #663399;
$nav-text-color: white;

//clock variables
$clock-text-color: white;
$clock-bg-color-1: #663399;
$clock-bg-color-2: #B694D6;
$button-color: #00CDAC;
