//colors
$grey: #333333;

//Navigation colors
$nav-background: #00CDAC;
$nav-text-color: white;

//clock variables
$clock-text-color: white;
$clock-bg-color-1: #02AAB0;
$clock-bg-color-2: #00CDAC;
$clock-border-color: grey;
$button-color: #00CDAC;
