.clock{
 align-items: center;
 background: radial-gradient(circle, #321A34, #261428);
 border: 30px solid rgba(85,30,60,0.6);
 border-radius: 50%;
 display: flex;
 height: 30rem;
 justify-content: center;
 margin: 1rem -3rem;
 width: 30rem;
}

.clock-text{
  color: #FF0059;
  font-size: 5rem;
  font-weight: 100;

}
