.clock{
 align-items: center;
 background: linear-gradient(to right, $clock-bg-color-1, $clock-bg-color-2);
 border: 2px solid $clock-border-color;
 border-radius: 50%;
 display: flex;
 height: 25rem;
 justify-content: center;
 margin: 4rem auto;
 width: 25rem;
}

.clock-text{
  color: $clock-text-color;
  font-size: 5rem;
  font-weight: 300;

}
