body{
  background: #FC2A61;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FC2A61, #D72553, #A01849);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FC2A61, #D72553, #A01849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a{
  color: #261428;
  font-weight: 100;
}
a:hover{
  color: white;

}
